<html>

<head>
  <meta charset="utf-8">
  <title>todo</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h1>Tasks</h1>
<article class="log">
  <ul>
    {{#todoLog}}
      <li><a href="/del/{{@index}}"><button type="button" name="button">Mark Complete</button></a> {{todo}}</li>
    {{/todoLog}}
  </ul>
</article>


 <form action="/enterTodo" method="post">
    <br>
    <div><input type="text" value="{{taskField.todo}}" name="todo" placeholder="Add a todo" /></div>
    <br>
   <button>Add a to do!</button>
  </form>


</body>

</html>
